
<h3> Diagram Category Product yang tersedia</h3>
<canvas id="myChart"  width="400" height="400" ></canvas>
<br>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    let labels = '<%= labels %>'
    let data = '<%= data %>'
    data = data.split(',')
    labels = labels.split(',')
    console.log(labels)
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                label: "Category Product",
                data: data,
                backgroundColor: [
                "#FF6384",
                "#3396FF",
                "#63FF84",
                "#84FF63",
                "#6384FF"
                ],
                borderColor: "black",
                borderWidth: 1
            }]
        },
        options: {    
            responsive: false,maintainAspectRatio: 
            false
        }
    });
    </script>